{% extends "main-template.html" %}{% load static %}
{% block title %}Clientes{% endblock %}
{% block content %}

<div class="text-center-aling">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Rut</th>
        <th scope="col">Email</th>
        <th scope="col">Contrasena</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Genero ID</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">Tarjeta ID</th>
      </tr>
    </thead>
   <tbody>
      {% for element in contacts %}
      <tr>
        <th scope="row">{{element.id_cliente}}</th>
        <td>{{element.nombre}}</td>
        <td>{{element.rut}}</td>
        <td>{{element.email}}</td>
        <td>{{element.contrasena}}</td>
        <td>{{element.fecha_de_nac}}</td>
        <td>{{element.id_genero_id}}</td>
        <td>{{element.id_estado_civil_id}}</td>
        <td>{{element.id_tarjeta_cliente_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}