{% extends "main-template.html" %}{% load static %}
{% block title %}PORTAL FRESIA HECHO A MANO (HOME){% endblock %}
{% block content %}
 <div class="formulario-contactanos">
  <form id="frm-enviar-contacto" action="" method="POST"> {% csrf_token %}
  <div class="form-row">
    <div class="text-center">
      <label for="txt-nombre">Nombre</label>
      <input type="nombre" name="nombre" class="form-control" id="txt-nombre" placeholder="Nombre">
    </div>
    
  </div>
  
  <div class="form-row">
      <div class="text-center">
        <label for="txt-email">Email</label>
        <input type="email" name="mail" class="form-control" id="txt-email" placeholder="Email">
      </div>
      
    </div>
    <div class="form-row">
      <div class="text-center">
        <label for="textarea">Comentarios:</label>
        <textarea name="comentarios"  class="form-control" id="txt-comentarios" placeholder="Danos tu opinion" rows="10" cols="80"></textarea>
      </div>

    </div>
    <div class="form-group" style="margin-left: 45%;margin-top: 50px;margin-bottom: 50px;">
      <button type="submit" class="btn btn-md btn-outline-success" id="btn_enviar">Enviar</button>
      <button type="button" class="btn btn-md btn-outline-success" id="btn_limpiar">Limpiar</button>
      <br><br>
      <ul id="messagesEnviar" class="text-danger"></ul> 
  </div>
  </form>
</div>
{% endblock %}