{% extends "main-template.html" %}{% load static %}
{% block title %}{% endblock %}
{% block content %}

<form method="POST" action=".">{% csrf_token %}
        <div class="row">
            {% if estado %}
            <div class="alert alert-primary" role="alert">
                {{mensaje}}
            </div>
            {% endif %}
        </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-email">Email :</label>
                <input type="text" name="email" id="txt-email">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-rut">Rut :</label>
                <input type="text" name="rut" id="txt-rut">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-contrasena">Contraseña :</label>
                <input type="text" name="contrasena" id="txt-contrasena">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-nombre">Nombre :</label>
                <input type="text" name="nombre" id="txt-nombre">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-fecha-de-nac">Fecha Nacimiento  ej(1999-09-09) :</label>
                <input type="text" name="fecha-de-nac" id="txt-fecha-de-nac">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="white-text" for="txt-id-genero">Genero ID :</label>
                <select id="txt-id-genero" name="id_genero" class="form-select" aria-label="Seleccionar Genero">
                    {% if generos %}
                    {% for genero in generos %}
                    <option value="{{genero.id_genero}}">{{genero.nombre}}</option>
                    {% endfor %}
                    {% endif %}
                </select>    
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
        <div class="form-group">
        <label class="white-text" for="txt-id-estado-civil">Estado Civil ID :</label>
        <select name="id-estado-civil" id="txt-id-estado-civil" class="form-select" aria-label="Seleccionar Estado Civil">
            {% if estados_civiles %}
            {% for estadoCivil in estados_civiles %}
            <option value="{{estadoCivil.id_estado_civil}}">{{estadoCivil.nombre}}</option>
            {% endfor %}
            {% endif %}
        </select>  
    </div>
    </div>
    <div class="form-group">
        <label class="white-text" for="txt-id-tarjeta-cliente">Tarjeta Cliente  ID:</label>
        <select name="id-tarjeta-cliente" id="txt-id-tarjeta-cliente" class="form-select" aria-label="Seleccionar Tarjeta de Cliente">
            {% if tarjetas_clientes %}
            {% for tarjetaCliente in tarjetas_clientes %}
            <option value="{{tarjetaCliente.id_tarjeta_cliente}}">{{tarjetaCliente.nombre}}</option>
            {% endfor %}
            {% endif %}
        </select>  
    </div>

    </div>
   
   
    
    
  
<!--
    <div class="form-group">
        <label class="white-text" for="txt-id-estado-civil">Estado Civil ID :</label>
        <input type="text" name="id-estado-civil" id="txt-id-estado-civil">
    </div>
    <div class="form-group">
        <label class="white-text" for="txt-id-tarjeta-cliente">Tarjeta Cliente  ID:</label>
        <input type="text" name="id-tarjeta-cliente" id="txt-id-tarjeta-cliente">
    </div>-->
    <div class="form-group">
        <button type="submit" class="btn btn-md btn-dark">Guardar</button>
    </div>
</form>



{% endblock %}