{% extends "main-template.html" %}{% load static %}
{% block title %}Crear Cuenta{% endblock %}
{% block content %}

<form method="POST" action=".">{% csrf_token %}
        <div class="row">
            {% if estado %}
            <div style="width: 97%; text-align: center; margin-top: 10px;" class="alert alert-primary" role="alert">
                {{mensaje}}
            </div>
            {% endif %}
        </div>
<h2 class="" style="margin-top:30px; margin-bottom: 50px;text-align: center;">Crea tu Cuenta</h2>
<div class="row formulario"> 
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label class="white-text" for="txt-nombre">Nombre :</label>
                <input type="text" name="nombre" class="form-control" id="txt-nombre">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="form-group col-md-6">
                <label class="white-text" for="txt-rut">Rut :</label>
                <input type="text" name="rut" class="form-control" id="txt-rut">
            </div>
        </div>

        <div class="form-group col-md-6">
                <label class="white-text" for="txt-email">Email :</label>
                <input type="email" name="email" class="form-control" id="txt-email">
        </div>


        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group col-md-6">
                    <label class="white-text" for="txt-contrasena">Contraseña :</label>
                    <input type="password" name="contrasena" class="form-control" id="txt-contrasena">
                </div>
            </div>
    </div>  
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <label class="white-text" for="txt-fecha-de-nac"> Fecha Nacimiento</label>
                <input type="text" name="fecha-de-nac" class="form-control"  id="txt-fecha-de-nac" placeholder="01-01-1920">
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label class="white-text" for="txt-id-genero">Genero ID :</label>
                <select id="txt-id-genero" name="id_genero" class="form-select" aria-label="Seleccionar Genero">
                    {% if generos %}
                    {% for genero in generos %}
                    <option value="{{genero.id_genero}}">{{genero.nombre}}</option>
                    {% endfor %}
                    {% endif %}
                </select>    
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="col-6">
        <div class="form-group">
        <label class="white-text" for="txt-id-estado-civil">Estado Civil ID :</label>
        <select name="id-estado-civil" id="txt-id-estado-civil" class="form-select" aria-label="Seleccionar Estado Civil">
            {% if estados_civiles %}
            {% for estadoCivil in estados_civiles %}
            <option value="{{estadoCivil.id_estado_civil}}">{{estadoCivil.nombre}}</option>
            {% endfor %}
            {% endif %}
        </select>  
    </div>
    </div>


    </div>
    <div class="form-group" style="margin-left: 45%;margin-top: 50px;margin-bottom: 50px;">
        <button type="submit" class="btn btn-md btn-outline-success">Crear</button>
        <button type="button" class="btn btn-md btn-outline-success" id="btn_limpiar">Limpiar</button>
    </div>

</form>


{% endblock %}