<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link type = "text/css" rel="stylesheet" href="css/normalize.css">
    <link type = "text/css" rel="stylesheet" href="css/styles.css">
    <title>Tejido hecho a mano</title>

</head>
<body>
  <header class="header">
      <img class="header_logo" src="img/logo_01.png">        
  </header>    
  <nav class="navegacion">
    <a class="navegacion_enlace" href="index.html">INICIO</a>
    <a class="navegacion_enlace" href="contactanos.html">CONTACTANOS</a>
    <a class="navegacion_enlace" href="productos.html">PRODUCTOS</a>
    <a class="navegacion_enlace" href="miCuenta.html">MI CUENTA</a>  
    <a class="navegacion_enlace" href="quienesSomos.html">QUIENES SOMOS</a>
    <a class="navegacion_enlace" href="galeria.html">GALERIA</a>
  </nav>
  <main class="contenedor">
    <h1 class="nuesto">Nuestros Productos</h1>
    <div class="grid">
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_01.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">VueJS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->

        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_02.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">AngularJS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_03.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">ReacJS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_04.jpeg"alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">Redux</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_05.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">NodeJS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_06.jpeg"alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">SASS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_01.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">HTML5</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_02.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">Githun</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_03.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">BulmaCSS</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_04.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">TypeScript</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_05.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">Drupal</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_06.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">JavaScript</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_01.jpeg"alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">GraphQL</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="producto">
            <a href="producto.html">
                <img class="producto__imagen" src="img/ch_02.jpeg" alt="imagen camisa">
                <div class="producto__informacion" >
                    <p class="producto__nombre">WordPress</p>
                    <p class="producto__precio">$25</p>
                </div>
            </a>
        </div> <!--.Producto / fin-->
        <div class="grafico grafico--camisas"></div>
        <div class="grafico grafico--node"></div>
    </div>
    
</main>


<footer class="footer">
  <p>Proyecto de titulo analista programador computacional - DuocUc 2022 </p>
</footer>
</body>
</html>