{% extends "main-template.html" %}{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div id="carousel-captions" class="carousel slide" data-bs-ride="carousel" style="margin-top: 15px;">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="5"
          aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="6"
          aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="7"
          aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="8"
          aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carousel-captions" data-bs-slide-to="9"
          aria-label="Slide 10"></button>
         

  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{% static 'img/MODELOS/Modelo 1 VERBENA/verbena_horizontal.png' %} " class="d-block w-100"
              alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="{% static 'img/MODELOS/MODELO 2 DALIA/dalia_horizontal.png' %}" class="d-block w-100"
              alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
          </div>
      </div>
   
      <div class="carousel-item">
        <img src="{% static 'img/MODELOS/MODELO 4 GERBERA/horizontal.png' %}" class="d-block w-100"
            alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/MODELOS/MODELO 5 CALA/horizontal.png' %}" class="d-block w-100"
          alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
      </div>
  </div>
  <div class="carousel-item">
    <img  src="{% static 'img/MODELOS/MODELO 6 AMELIA/horizontal.png' %}"  class="d-block w-100"
        alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
    </div>
</div>
<div class="carousel-item">
  <img src="{% static 'img/MODELOS/MODELO 7 JACARANDA/horizontal.png' %}" class="d-block w-100"
      alt="...">
  <div class="carousel-caption d-none d-md-block">
      <h5></h5>
      <p></p>
  </div>
</div>
<div class="carousel-item">
  <img src="{% static 'img/MODELOS/MODELO 8 FLORENCIA/horizontal.png' %}" class="d-block w-100"
      alt="...">
  <div class="carousel-caption d-none d-md-block">
      <h5></h5>
      <p></p>
  </div>
</div>
<div class="carousel-item">
  <img src="{% static 'img/MODELOS/MODELO 9 CAPRI/horizontal.png' %}" class="d-block w-100"
      alt="...">
  <div class="carousel-caption d-none d-md-block">
      <h5></h5>
      <p></p>
  </div>
</div>
<div class="carousel-item">
  <img src="{% static 'img/MODELOS/MODELO 10 CORDILLERA/horizontal.png' %}" class="d-block w-100"
      alt="...">
  <div class="carousel-caption d-none d-md-block">
      <h5></h5>
      <p></p>
  </div>
</div>
<div class="carousel-item">
  <img src="{% static 'img/MODELOS/MODELO 11 MANGA GLOBO/horizontal.png' %}" class="d-block w-100"
      alt="...">
  <div class="carousel-caption d-none d-md-block">
      <h5></h5>
      <p></p>
  </div>
</div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-captions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-captions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}