{% extends "main-template.html" %}{% load static %}
{% block title %}LOGIN{% endblock %}
{% block content %}

    <form method="POST" action=".">{% csrf_token %}
    <div class="form-row" style="margin-top: 50px;">
            <div class="col-3"></div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre  :</label>
                    <input type="text" class="fomr-control" name="nombre">
                </div>
            </div>
            <div class="col-3"></div>
        </div>

    <div class="form-row">
        <div class="col-3"></div>
        <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="nombre">Contraseña  :</label>
                    <input type="password" class="fomr-control" name="contrasena">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    <div class="form-row">
        <div class="col-3"></div>
        <div class="form-group col-md-6">
            <input type="submit" class="btn btn-primary" value="Ingresar" name="" id="" style="margin-left: 30%; margin-bottom: 30px;">
                <div class="form-group">
                    <a href="#">Olvide mi contraseña</a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="form-row">
            <div class="col-3"></div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <a href="/crear_cuenta">Crear Cuenta</a>
                   
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </form>



{% endblock %}