{% extends "main-template.html" %}{% load static %}
{% block title %}Productos{% endblock %}
{% block content %}
<div class="row">
  {% if estado %}
  <div style="width: 97%; text-align: center; margin-top: 10px;" class="alert alert-primary" role="alert">
      {{mensaje}}
  </div>
  {% endif %}
</div>



<div class="row">
  {% for productos in productos %}

<div class="card col-5" style="width: 18rem;">
  <img class="card-img-top" src="{% static productos.imagen %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{productos.id_modelo}}</h5>
    <h5 class="card-title">${{productos.id_modelo.valor}}</h5>
    <p class="card-text">{{productos.id_talla}}</p>
    
     <!-- Button trigger modal -->
     <button data-bs-toggle="modal" 
     data-bs-target="#mdl-{{productos.id_producto}}" type="button" class="btn btn-primary" >Ver Mas</button>
 
 <!-- Modal -->
 <div id="mdl-{{productos.id_producto}}" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <img class="card-img-top" src="{% static productos.imagen %}" alt="Card image cap">
         <div class="row">
          <form method="POST" action=".">{% csrf_token %}
            <select style="display: none;" name="id-user" id="id-user" class="form-select" aria-label="id-user">
              <option value="{{user.id}}">{{user.id}}</option>
            </select>
            <div class="form-row">
              <div class="col-6">

                
             
                <input name="modelo" id="modelo" style="display:none ;" value="{{productos.id_modelo}}">Modelo : {{productos.id_modelo}}</input>
                <br>
                <input name="valor" id="valor"  style="display:none ;" value="{{productos.id_modelo.valor}}">Valor : {{productos.id_modelo.valor}}</input>
              
            </div>
          <div class="form-group">
            <div class="col-6">
              <label class="white-text" for="txt-id-talla">Talla  :</label>
              <select name="id-talla" id="txt-id-talla" class="form-select" aria-label="Seleccionar Talla">
                  {% if tallas %}
                  {% for talla in tallas %}
                  <option value="{{talla.id_talla}}">{{talla.nombre}}</option>
                  {% endfor %}
                  {% endif %}
              </select>  
          </div>
        </div>
          </div>

          <div class="form-row">
            <div class="col-6">
            <div class="form-group">
            <label class="white-text" for="txt-id-color">Color  :</label>
            <select name="id-color" id="txt-id-color" class="form-select" aria-label="Seleccionar Color">
              {% if colores %}
              {% for color in colores %}
              <option value="{{color.id_color}}">{{color.nombre}}</option>
              {% endfor %}
              {% endif %}
            </select>  
        </div>
        </div>
        <div class="form-group">
          <div class="col-6">
            <label class="white-text" for="txt-id-tipo_producto">Tipo de Producto  :</label>
            <select name="id-tipo-producto" id="txt-id-tipo-producto" class="form-select" aria-label="Seleccionar Tipos de Productos">
                {% if tipo_productos %}
                {% for tipo_producto in tipo_productos %}
                <option value="{{tipo_producto.id_tipo_producto}}">{{tipo_producto.nombre}}</option>
                {% endfor %}
                {% endif %}
            </select>  
        </div>
      </div>
      <div class="form-group">
        <div class="col-6">
          <label class="white-text" for="txt-id-material">Material  :</label>
          <select name="id-material" id="txt-id-material" class="form-select" aria-label="Seleccionar Material">
              {% if materiales %}
              {% for material in materiales %}
              <option value="{{material.id_material}}">{{material.nombre}}</option>
              {% endfor %}
              {% endif %}
          </select>  
      </div>
    </div>
        </div>
        <div class="form-group" style="margin-left: 45%;margin-top: 50px;margin-bottom: 50px;">
          <button type="submit" class="btn btn-md btn-outline-info">Añadir al Carrito</button>
      </div>

          </form>
      </div>
       </div>
       
     </div>
   </div>
 </div>

    
  </div>

</div> 
{% endfor %}
</div>




  <div class="row ">


    
  

{% endblock %}