{% extends "main-template.html" %}{% load static %}
{% block title %}PORTAL FRESIA HECHO A MANO (HOME){% endblock %}
{% block content %}
  <div class="row">
    <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/Modelo 1 VERBENA/VERBENA (6).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">VERBENA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 2 DALIA/DALIA (9).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">DALIA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 3 JAZMÍN/JASMÍN (7).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">JAZMÍN</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 4 GERBERA/GERBERA (11).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">GERBERA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 5 CALA/CALA (7).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> CALA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 6 AMELIA/AMELIA (1).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">AMELIA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 7 JACARANDA/JACARANDA (18).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">JACARANDA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 8 FLORENCIA/FLORENCIA (10).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">FLORENCIA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 9 CAPRI/CAPRI (9).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CAPRI</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 10 CORDILLERA/CORDILLERA (15).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CORDILLERA</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/MODELOS/MODELO 11 MANGA GLOBO/MANGA GLOBO (8).jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MANGA GLOBO</h5>
          <p class="card-text">S / M / L</p>
          <a href="#" class="btn btn-primary">Ir..</a>
        </div>
      </div>
    
  </div>

{% endblock %}