{% extends "main-template.html" %}{% load static %}
{% block title %}PORTAL FRESIA HECHO A MANO (HOME){% endblock %}
{% block content %}
 
    <div class="row quienes_somos">
      <p>𝑄𝑢𝑖𝑒́𝑛𝑒𝑠 𝑠𝑜𝑚𝑜𝑠?</p>
      <p>
        Somos madre (Fresia) e hija (Natalia), quienes con el afán de expandir el 
        amor por lo tejido hecho a mano y por completar de una manera significativa
         nuestra rutina, un día decidimos no solo tejer para nosotras, sino de lanzarnos
          al mundo con nuestro emprendimiento y mostrar lo bello que es tejer a mano.
        

        Fresia es quien pone a disposición su arte del tejido y Natalia es la encargada
         de las redes sociales, quienes se complementan perfectamente para llevar a cabo
          nuestro pequeño emprendimiento.
        
        Cada prenda es única y hecha a mano, lo que trae consigo, tiempo, dedicación, cariño,
         horas de esfuerzo y un pedacito de nuestro corazón en cada tejido  (porque sí, uno 
         se encariña con lo que crea).
        
        </p>
        <br> <p>
        𝑁𝑜 𝑜𝑙𝑣𝑖𝑑𝑎𝑟 𝑞𝑢𝑒 𝑑𝑒𝑡𝑟𝑎́𝑠 𝑑𝑒 𝑐𝑎𝑑𝑎 𝑝𝑎𝑛𝑡𝑎𝑙𝑙𝑎 𝘩𝑎𝑦 𝑢𝑛𝑎 𝑝𝑒𝑟𝑠𝑜𝑛𝑎, 𝑢𝑛𝑎 𝑓𝑎𝑚𝑖𝑙𝑖𝑎, 𝑠𝑒𝑟𝑒𝑠 𝑞𝑢𝑒𝑟𝑖𝑑𝑜𝑠, 𝑏𝑎𝑡𝑎𝑙𝑙𝑎𝑠 
        𝑦 𝑚𝑒𝑡𝑎𝑠 𝑝𝑜𝑟 𝑙𝑎𝑠 𝑞𝑢𝑒 𝑙𝑢𝑐𝘩𝑎𝑟. 𝑁𝑜 𝑝𝑖𝑒𝑟𝑑𝑎𝑠 𝑛𝑢𝑛𝑐𝑎 𝑙𝑎 𝑒𝑠𝑒𝑛𝑐𝑖𝑎 𝑑𝑒 𝑣𝑎𝑙𝑜𝑟𝑎𝑟 𝑎𝑙 𝑜𝑡𝑟𝑜/ 𝑜𝑡𝑟𝑎. 
      </p><br><br><br><br><br><br><p>
        Atte: Fresia Hecho a mano</p>
      </div>

{% endblock %}